header {
    position: relative;
}

.main-wrapper {
    width: 80%;
    max-width: $max-width;
    margin: 0 auto;
}

.link-hover-effect {
    &:before {
        content: '';
        display: block;

        width: 0;
        height: 3px;

        position: absolute;
        left: 0;
        bottom: -20px;

        -webkit-transition: width 0s ease, background .5s ease;
        -moz-transition: width 0s ease, background .5s ease;
        -o-transition: width 0s ease, background .5s ease;
        transition: width 0s ease, background .5s ease;
    }

    &:after {
        content: '';
        display: block;

        width: 0;
        height: 3px;

        position: absolute;
        right: 0;
        bottom: -20px;

        background-color: $yellow;
        transition: width .5s ease;

        -webkit-transition: width .5s ease;
        -moz-transition: width .5s ease;
        -o-transition: width .5s ease;
        transition: width .5s ease;
    }

    &:hover:before {
        width: 100%;
        background: $yellow;
        transition: width .5s ease;

        -webkit-transition: width .5s ease;
        -moz-transition: width .5s ease;
        -o-transition: width .5s ease;
        transition: width .5s ease;
    }

    &:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease;

        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -o-transition: all 0s ease;
        transition: all 0s ease;
    }
}

//================================================
//META section
//================================================
.meta-section {
    width: 100%;
    padding: 10px 0;
    background-color: $brand-color;

    .main-wrapper {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);

    }

    .career-btn,
    .change-language {
        color: $white;
        font-size: 11px;
        font-family: $corporate-smedium;//CorporateS Medium
    }

    .career-btn {
        position: relative;
        //padding: 10px 0;

        @extend .link-hover-effect;

        &:before,
        &:after {
            content: '';
            bottom: -12px;
        }
    }

    .change-language-list {

        position: relative;

        .dropdown {
            display: none;
            width: 100%;
            min-width: 100px;

            position: absolute;
            top: 19px;
            left: -5px;

            white-space: nowrap;
            background-color: $brand-color;

            a {
                display: inline-block;
                padding: 0 5px;

                @include on-event {
                    color: $grey5;
                }
            }
        }

        li {
            @include on-event {
                .dropdown {
                    display: block;
                }
            }
        }
    }

    .fa-angle-down {
        font-size: 9px;
    }

    @include respond-to(medium) {
        display: none;
    }
}


//================================================
//MAIN section
//================================================
.main-section {
    padding: 28px 0;
    border-bottom: 1px solid $grey3;

    .main-wrapper {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-flow(row wrap);
    }
}

.logo {
    width: 100%;
    max-width: 213px;
    display: inline-block;

    //@include flex(1 0 auto);
    @include order(1);

    img {
        width: 100%;
        height: auto;
    }
}

.search-form-container {

    @include flex-basis(50%);
    @include order(2);
    max-width: 470px;
    margin-left: 10%;


    .search-form {
        background-color: $beige;
        border: 1px solid $grey3;
        @include borderRadius(2px);

        input[type="text"] {
            width: 92%;
            line-height: 1;
            padding: 16px;

            border: none;
            outline: none;

            color: $grey5;
            background-color: transparent;
            font-size: 11px;
            font-family: $corporate-smedium;//CorporateS MediumItalic
            font-style: italic;
        }

        @include respond-to(large) {
            margin-top: 10px;
        }
    }

    .fa-search {
        font-size: 20px;
    }

    @include respond-to(extra-large) {
        @include flex-basis(36%);
        margin-left: 0;
    }

    @include respond-to(large) {
        @include flex-basis(100%);
        @include order(4);
        max-width: 100%;
        margin-top: 10px;
        border-top: 1px solid $grey3;
    }
}

//================================================
//Account section
//================================================
.account-section {

    @include order(3);
    @include flex-basis(24%);

    @include respond-to(extra-large) {
        @include flex-basis(34%);
    }

    @include respond-to(large) {
        @include flex-basis(50%);
    }
}

.account-wrap {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);

    text-align: center;
}

.rating,
.basket,
.account {
    @include flex(1 0 auto);
}

.counter {
    width: 15px;
    height: 15px;
    line-height: 15px;
    display: inline-block;

    vertical-align: top;

    margin-top: -3px;
    margin-left: -15px;

    color: $grey5;
    font-size: 11px;
    font-family: $corporate-smedium;
    background-color: $beige;
    @include borderRadius(50%);

    &.active {
        color: $light-black;
        background-color: $yellow;
    }
}

.rating,
.basket {
    position: relative;
    //padding: 0 20px;

    font-size: 30px;
    border-right: 1px solid $grey3;
}

.account {

    a {
        @include flexbox;
        @include justify-content(flex-end);
        //padding: 14px;
        text-align: left;
    }

    .fa-angle-down {
        width: 30px;
        height: 30px;
        @include align-self(center);

        line-height: 30px;
        font-size: 20px;
        text-align: center;
        background-color: $beige;
        @include borderRadius(50%);
    }

    // @include respond-to(medium) {
    //     display: none;
    // }
}

.account-wrapper {
    display: inline-block;
    line-height: 1.7;
    padding-right: 10px;
}

.account-name-txt {
    display: block;

    color: $grey6;
    font-size: 11px;
    font-style: italic;
    font-family: $corporate-smedium;
}

.account-nav {
    display: block;

    font-size: 16px;
    font-family: $corporate-sbold;
}

