.main-nav-holder {

    position: relative;
    z-index: 100;

    .main-wrapper {
        width: 64%;
    }

    .burgur-menu {
        display: none;
        width: 20px;
        height: 20px;

        position: absolute;
        top: 20px;
        //top: 5px;
        left: 20px;
        z-index: 10;

        .hamburger {
            font-size: 20px;
            display: inline-block;
            width: 1em;
            height: 1em;
            padding: 0;
            cursor: pointer;
            vertical-align: middle;
            border: 0 none;
            outline: 0;
            background-color: transparent;
            //.transition(transform 0.3s ease-in-out);

            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;

            &::before,
            &::after {
                content: '';
            }

            &::before,
            &::after,
            & .icon {
                display: block;
                width: 100%;
                height: .2em;
                margin: 0 0 .2em;
                //.transition(transform 0.3s ease-in-out);
                border-radius: .05em;
                background: $brand-color;

                -webkit-transition: transform 0.3s ease-in-out;
                -moz-transition: transform 0.3s ease-in-out;
                -o-transition: transform 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
            }

            &.active,
            &.active:focus,
            &:focus{
              outline: 0;
            }

            &.active .icon,
            &.active::before,
            &.active::after {
              background: $brand-color;
            }

            //Style Cancel
            &.hamburger-cancel.active:before {
              transform: translateY(.4em) rotate(135deg);
            }

            &.hamburger-cancel.active:after{
              transform: translateY(-.4em) rotate(-135deg);
            }

            &.hamburger-cancel.active .icon {
              transform: scale(0);
            }
        }

        .icon {
          height: 1em;
          width: 1em;
          display: inline-block;
          vertical-align: middle;
          fill: currentColor;
        }
    }

    // @include respond-to(medium) {
    //     position: absolute;
    //     top: 0;
    //     left: 0;

    //     .burger-menu {
    //         display: block;
    //     }

    //     .main-nav {
    //         width: 100%;
    //         background-color: $white;
    //     }
    // }
}

//================================================
//Main navigation (Level 1)
//================================================
.main-list-nav {
    width: 64%;
    //height: 60px;
    padding: 20px 0;
    text-align: center;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    //@include flex-flow(row wrap);

    li {
        @include flex(1 0 auto);
        padding: 0 2.5%;

        border-right: 1px solid $grey3;

        &:last-of-type {
            border-right: none;
        }

        &:first-of-type {
            @include respond-to(medium) {
                display: none;
            }
        }

        a {
            position: relative;
            display: inline-block;
            //padding-bottom: 20px;
            text-align: center;
            font-size: 16px;
            font-family: $corporate-sbold;
            white-space: nowrap;

            @extend .link-hover-effect;

            @include respond-to(large) {
                font-size: 14px;
            }
        }
    }

    .fa-home {
        font-size: 18px;
    }

    .burger-menu {
        display: none;
    }

    // @include respond-to(medium) {
    //     width: 100%;
    //     display: block;

    //     padding: 15px 0;
    //     background-color: $white;
    // }
}


//================================================
//Sub navigation (Level 2)
//================================================
.sub-list-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 600;
    background-color: $brand-color;

    .main-wrapper {
        @include flexbox;
        @include flex-flow(row wrap);
        @include justify-content(space-around);
        @include align-items(flex-start);
    }

    .column {
        width: 20%;
        padding: 60px 20px;
        text-align: left;

        ul {
            padding-bottom: 30px;
        }

        ul:nth-of-type(even) {
            padding-top: 30px;
            border-top: 1px solid $grey7;
        }
    }

    a {
        line-height: 1.5;
        color: $grey2;
        font-size: 16px;
        font-family: $corporate-smedium;
    }

    .category {
        color: $white;
        font-size: 16px;
        font-family: $corporate-sbold;
    }
}