.main-nav-section {

    position: relative;
    z-index: 400;

    // .main-wrapper {
    //     width: 64%;
    // }

    // @include respond-to(medium) {
    //     position: absolute;
    //     top: 0;
    //     left: 0;

    //     .burger-menu {
    //         display: block;
    //     }

    //     .main-nav {
    //         width: 100%;
    //         background-color: $white;
    //     }
    // }
}

//================================================
//Main navigation (Level 1)
//================================================
.main-list-nav {
    width: 64%;
    //height: 60px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    //@include flex-flow(row wrap);

    li.nav-level1 {
        @include flex(1 0 auto);
        padding: 0 2.5%;

        border-right: 1px solid $grey3;

        &:last-of-type {
            border-right: none;
        }

        &:first-of-type {
            @include respond-to(medium) {
                display: none;
            }
        }

        // @include on-event {
        //     .sub-list-nav {
        //         display: block;
        //     }
        // }

        & > a {
            position: relative;
            display: inline-block;

            text-align: center;
            font-size: 16px;
            font-family: $corporate-sbold;
            white-space: nowrap;

            @extend .link-hover-effect;

            @include respond-to(large) {
                font-size: 14px;
            }
        }
    }

    .fa-home {
        font-size: 18px;
    }
}

//================================================
//Sub navigation (Level 2)
//================================================
.sub-list-nav {
    display: none;

    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 700;

    background-color: $brand-color;

    & .row {
        @include flexbox;
        @include flex-flow(row wrap);
        @include justify-content(space-around);
        @include align-items(flex-start);
    }

    & .column {
        //width: 20%;
        @include flex(1 1 20%);
        padding: 60px 20px;
        text-align: left;

        ul {
            padding-bottom: 30px;

            &:nth-of-type(even) {
                padding-top: 30px;
                border-top: 1px solid $grey7;
            }
        }

        li.nav-level2 {
            border-right: none;

            & > a {
                display: inline-block;
                padding-left: 24px;

                line-height: 1.5;
                color: $grey2;
                font-size: 16px;
                font-family: $corporate-smedium;
            }

            & .category {
                padding-left: 0;
                color: $white;
                font-size: 16px;
                font-family: $corporate-sbold;
            }
        }
    }
}

.icon-cables {
    width: 21px;
    height: 12px;
}

.icon-connectors {
    width: 23px;
    height: 10px;
}

.icon-IOconnector {
    width: 21px;
    height: 9px;
}

.icon-switches {
    width: 24px;
    height: 11px;
}

.icon-drive-systems {
    width: 22px;
    height: 10px;
}

.icon-rfid {
    width: 24px;
    height: 10px;
}

.icon-tools {
    width: 23px;
    height: 6px;
}

.icon-pc-board {
    width: 24px;
    height: 9px;
}

.icon-power-measurement {
    width: 23px;
    height: 10px;
}